# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

version.py export-subst

# For the sake of clean releases
.gitattributes export-ignore
.gitignore export-ignore
.flake8 export-ignore
.pylintrc export-ignore
tasks.py export-ignore
test.py export-ignore
test_*.py export-ignore
requirements.txt export-ignore
.github/ export-ignore
.idea/ export-ignore
*.iml export-ignore
